import type { Config } from "tailwindcss";

const config: Config = {
  content: [
    "./app/**/*.{js,ts,jsx,tsx,mdx}",
    "./components/**/*.{js,ts,jsx,tsx,mdx}",
  ],
  theme: {
    extend: {
      colors: {
        primary: "#FBBF24",
        "primary-dark": "#F59E0B",
        "primary-light": "#FCD34D",
        secondary: "#1A1A1A",
        "secondary-light": "#4B4B4B",
      },
    },
  },
  plugins: [],
};

export default config;